<!DOCTYPE html>
<html>
<head>
  <title>Billing</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="center-page">

<div class="card">
  <h2>Billing</h2>

  <form method="POST" action="/billing/pay">
    <input type="hidden" name="opId" value="<%= opId %>">

    <input name="amount" placeholder="Amount" required>

    <select name="payment_type">
      <option>Cash</option>
      <option>UPI</option>
      <option>Scheme</option>
    </select>

    <button class="btn">Confirm Payment</button>
  </form>
</div>

</body>
</html>
